









<div class="col-md-6">
    <textarea class=" form-control " id="txtmessage" placeholder="Enter Message"
              data-val-required="The Description field is required."
              data-val-maxlength-max="5000"
              data-val="true" rows="10" name="txtmessage"></textarea>
</div>

<script>
    $("form").submit(function (e) {
        if ($('#txtmessage').val() == '') {
            swal("Error", "Please Enter Message!", "error");
            e.preventDefault();
        }
</script>